body {
    color: white;
    background-color: #89cff0;
    font-family: 'Frank Ruhl Libre', serif;
    /*baby blue*/
}

.site-header {
    color: white;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    color: white;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.image {
    border-radius: 3%;
}

a {
    /*background-color: white;*/
    color: #ebd002;
    padding: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

/*for testing*/
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.75;
    z-index: -1;
    transition: 100s;
    border-radius: 50px;
    height: 20px;
    width: 200px;
  }

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }