body {
    color: white;
    background-color: #89cff0; /*baby blue*/
}

.site-header {
    color: white;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    color: white;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.image {
    border-radius: 3%;
}